<div class="container-fluid">
  <div class="banner">
    <img
      src="/images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-lg.jpg"
      srcset="
        /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-xl.jpg 1920w,
        /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-lg.jpg 1200w,
        /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-md.jpg  992w,
        /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-sm.jpg  768w,
        /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-xs.jpg  576w
      "
      sizes="100vw"
      alt="VistaGrande Mini Blinds "
      class="img-fluid"
    />
    <div class="top-center-container" class="container-fluid">
      <div class="light-text">
        <h1>Mini Blinds</h1>
        <a href="/landing-pages/vistagrande" class="btn btn-sm btn-elandel"
          ><i class="fal fa-chevron-left"></i> Back to Vistagrande
        </a>
      </div>
      <!-- .light-text -->
    </div>
    <!-- .img-fluid -->
  </div>
  <!-- .banner -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row text-center landing-text-container">
    <div class="col-12 text-left landing-text-box">
      <h2>Open & Close With Ease</h2>
      <p class="one-rem-text-desktop">
        Mini Blinds are built into efficient sealed units protected with
        tempered glass. A single movement allows for ease of opening and closing
        the blinds for privacy or light exposure. Also, these blinds bring a new
        hack to your cleaning routine, with no need to dust or clean them. They
        are a great addition to any home.
      </p>
    </div>
    <div class="col-12 pb-0 dark-text dark-text-half landing-text-box">
      <h1 class="el-blue-text">
        VistaGrande<sup>®</sup> - Mini Blinds
      </h1>
      <h6>
        Flush-Glazed Mini Blinds with Low-E Argon Filled Glass
      </h6>
    </div>
    <!-- col-12 landing-text-box-->
  </div>
  <!-- .row.landing-text-container -->

  <div class="row justify-content-center landing-text-container">
    <div class="col-12 text-center">
      <a
        href="/categories/doors?&subs[]=Mini+Blind"
        class="btn btn-sm btn-elandel"
        >View All <i class="fal fa-chevron-right"></i>
      </a>
    </div>
    <div class=" col-12 col-md-6 pb-md-0  landing-text-container">
      <a href="/categories/doors?&subs[]=Mini+Blind&ht[]=80.0-80.9">
        <img
          class="w-100"
          src="/images/support-landing-page/mini-blinds/vistagrande-inset-images-mini-blinds-2.jpg"
          alt="Mini Blinds Doors"
        />
      </a>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 pb-md-0  landing-text-container">
      <a href="/categories/doors?&subs[]=Mini+Blind&ht[]=96.0-96.9">
        <img
          class="w-100"
          src="/images/support-landing-page/mini-blinds/vistagrande-inset-images-mini-blinds-3.jpg"
          alt="Mini Blinds Doors"
        />
      </a>
    </div>
    <!-- .col-12 -->

    <div class="col-12 text-left landing-text-box">
      <p class="el-blue-text">
        *Available in both Fir Grain and Smooth*
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row justify-content-center  landing-text-container">
    <div class="col-12 landing-text-box">
      <p>
        Mini Blinds also come in 2 colors, tan or white. They allow for you to
        continue to have a cohesive flow in your home in order to match the
        style you already have. Tan is normally the option for the fir grain
        doors, as white is usually the option for smooth doors.
      </p>
    </div>
    <div class=" col-12 col-md-7">
      <img
        class="w-100"
        src="/images/support-landing-page/mini-blinds/vistagrande-inset-images-miniblinds-4.jpg"
        alt="Mini Blinds"
      />
    </div>
    <!-- .col-12 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
