<div class="container-fluid">
    <div class="banner">
      <img
        src="/images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-lg.jpg"
        srcset="
          /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-xl.jpg 1920w,
          /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-lg.jpg 1200w,
          /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-md.jpg  992w,
          /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-sm.jpg  768w,
          /images/support-landing-page/mini-blinds/vistagrande-miniblinds-landing-top-banner-xs.jpg  576w
        "
        sizes="100vw"
        alt="SDL Bars Banner"
        class="img-fluid"
      />
      <div class="top-center-container" class="container-fluid">
        <div class="light-text">
          <h1>Mini Blinds</h1>
          <a href="/about/vistagrande" class="btn btn-sm btn-elandel"
            ><i class="fal fa-chevron-left"></i> Back to Vistagrande
          </a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .banner -->
  </div>
  <!-- .container-fluid -->
  
  <div class="container container-landing-page">
    <div class="row text-center landing-text-container">
      <div class="col-12 text-left landing-text-box">
        <h2>Open & Close With Ease</h2>
        <p style="font-size: 1rem">
          Miniblinds are built into efficient sealed units protected with tempered
          glass. A single movement allows for ease of opening and closing the
          blinds for privacy or light light exposure.
        </p>
        <div class="col-12 landing-text-box">
          <h1 class="nav-back">VistaGrande® - Mini Blinds</h1>
          <h2>
              Flush-Glazed Mini Blinds with Low-E Argon Filled Glass
          </h2>
        </div>
        <!-- col-12 landing-text-box-->
      </div>
      <!-- .row.landing-text-container -->
      <div class="row justify-content-center landing-text-container">
        <div class=" col-12 col-md-8  landing-text-container">
          <div
            id="carouselExampleIndicators1"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators1"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators1"
                data-slide-to="1"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/images/support-landing-page/mini-blinds/vistagrande-inset-images-miniblinds-1a.jpg"
                  class="d-block w-100"
                  alt="Vistagrande Sdl Bars inset Picture"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/support-landing-page/mini-blinds/vistagrande-inset-images-miniblinds-1b.jpg"
                  class="d-block w-100"
                  alt="Vistagrande Sdl Bars inset Picture"
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators1"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators1"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <!-- .row -->
  
      <div class="row text-center landing-text-container">
        <div class="col-12">
          <div class="carousel pb-md-0">
            <ul class="feature-slider">
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-1.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-122-S10LE-X
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-2.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-152-S05LE-X
                </p>
                <p class="mb-sm-2">(10" 1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-3.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-420-S08LE-1
                </p>
                <p class="mb-sm-2">
                  (2<sup>6</sup> 2<sup>8</sup> 2<sup>10</sup> 3<sup>0</sup>)
                </p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-4.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-450-S04LE-1
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-5.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-926-S06LE-X
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-6.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-152-S03LE-X
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup> )</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-7.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-420-S06LE-1
                </p>
                <p class="mb-sm-2">
                  (2<sup>6</sup> 2<sup>8</sup> 2<sup>10</sup> 3<sup>0</sup>)
                </p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-8.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-450-S03LE-1
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-9.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-126-S04LE-1
                </p>
                <p class="mb-sm-2">
                  (2<sup>8</sup> 2<sup>10</sup> 3<sup>0</sup>)
                </p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-10.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-126-S06LE-1
                </p>
                <p class="mb-sm-2">
                  (2<sup>8</sup> 2<sup>10</sup> 3<sup>0</sup>)
                </p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-1-11.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-126-S09LE-1
                </p>
                <p class="mb-sm-2">
                  (2<sup>8</sup> 2<sup>10</sup> 3<sup>0</sup>)
                </p>
              </li>
            </ul>
            <!-- .feature-slider -->
          </div>
          <!-- .carousel -->
        </div>
        <!-- .col-12 -->
        <div class="col-12 text-left">
          <p style="color: #0054a6 !important;">
            *Available in both Fir Grain and Smooth*
          </p>
        </div>
      </div>
      <!-- .row -->
  
      <div class="row text-center landing-text-container">
        <div class="col-12 landing-text-box">
          <h1 class="nav-back">VistaGrande® SDL Bars 8'0"</h1>
          <h2>
            Beveled 1" SDL Bars Applied to the Glass, Low-E Argon Filled Glass
            Options
          </h2>
        </div>
        <!-- col-12 landing-text-box-->
      </div>
      <!-- .row.landing-text-container -->
  
      <div class="row text-center landing-text-container">
        <div class="col-12">
          <div class="carousel pb-md-0">
            <ul class="feature-slider" style="width: 500px">
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-1.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-810-S06LE-X
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-2.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-852-S03LE-X
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-3.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-810-S12LE-X
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-4.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-852-S06LE-X
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-5.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-926-S06LE-1
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-6.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-151-S03LE-1
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-7.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
                <p class="mb-sm-0">
                  VSG-926-S08LE-1
                </p>
                <p class="mb-sm-2">(2<sup>6</sup> 3<sup>0</sup>)</p>
              </li>
              <li>
                <img
                  src="/images/support-landing-page/mini-blinds/door-slider-2-8.jpg"
                  alt="VGS Door"
                  title="VGS Door"
                />
  
                <p class="mb-sm-0">
                  VSG-151-S04LE-1
                </p>
                <p class="mb-sm-2">(1<sup>0</sup> 1<sup>2</sup>)</p>
              </li>
            </ul>
            <!-- .feature-slider -->
          </div>
          <!-- .carousel -->
        </div>
        <!-- .col-12 -->
        <div class="col-12 text-left">
          <p style="color: #0054a6 !important;">
            *Available in both Fir Grain and Smooth*
          </p>
        </div>
        <!-- col-12 text-left -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  